@import '../../../assets/css/vars';
.no-data-grid {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the-wrapper {
  padding: 0 2rem;
  background: #efefef;
  & > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & h1:first-child {
      margin: 0;
      font-weight: 300;
      & span:first-child {
        margin-right: 10px;
      }
      & span:nth-child(2) {
        color: #5c5c5c;
      }
    }
    & mat-icon {
      vertical-align: top;
      margin-right: 0;
    }
  }
  & mat-card {
    border-radius: 0;
    margin: 1rem 0;
    border-top: 2px solid $HC-white;
    transition: all 0.2s ease-out;
    &:hover {
      border-top: 2px solid $HC-success;
    }
    &.first {
      display: flex;
      flex-flow: column nowrap;
      & > div {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        padding-bottom: 1rem;
      }
      & mat-form-field:first-child {
        grid-column: 1 / -1;
      }
      & > div:nth-child(2) {
        & button {
          align-self: flex-start;
          max-width: 150px;
        }
        & mat-icon {
          align-self: center;
          justify-self: flex-end;
        }
      }
    }
    &.second {
      padding: 0;
      & > div:first-child {
        border-bottom: 1px solid rgba(150, 150, 150, 0.5);
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        & h2 {
          font-weight: 300;
          align-self: center;
          display: flex;
          align-items: center;
          & mat-icon {
            margin-left: 15px;
          }
        }
        & > div {
          justify-content: end;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
          grid-gap: 1rem;
          & button {
            max-width: 150px;
            justify-self: flex-end;
          }
        }
      }
      & mat-form-field:first-child {
        width: 100%;
      }
    }
  }
}
input {
  text-overflow: ellipsis !important;
}
.header-orden {
  color: $HC-primary;
  font-weight: 600;
  & p {
    color: $HC-gray;
  }
}
.no-privileges {
  margin: 1rem 0;
  border-radius: 0;
  & h2 {
    font-weight: 300;
  }
}

.table-message {
  padding: 1rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background: $HC-primary;
  color: $HC-white;
}

.flex {
  display: flex;
}

@media screen and (max-width: 470px) {
  .the-wrapper {
    padding: 2rem 0 0 0;
    & div {
      &:first-child {
        padding: 0 1rem 1rem 1rem;
        & span {
          &:first-child {
            display: block;
          }
        }
      }
    }
    & mat-card {
      box-shadow: none;
      margin: 0;
      border-top: 2px solid $HC-light-gray;
      &.first {
        & div {
          &:first-child {
            padding: 0 0 1rem 0;
          }
        }
        & button {
          max-width: 100% !important;
        }
      }
      &.second {
        & div {
          &:first-child {
            grid-template-columns: 1fr;
            & h2:first-child {
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
tr:not(.detail-row) td:last-child,
th:last-child {
  text-align: end !important;
}

.check {
  width: 10px;
}
