@import '../../../assets/css/vars';

form {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'proveedor proveedor proveedor'
    'estados fechaInicio fechaFin'
    '. . boton';

  #proveedor {
    grid-area: proveedor;
  }
  #estados {
    grid-area: estados;
  }
  #fechaInicio {
    grid-area: fechaInicio;
  }
  #fechaFin {
    grid-area: fechaFin;
  }
  #boton {
    justify-self: end;
    grid-area: boton;
  }
  @include screen-768 {
    grid-template-areas:
      'proveedor proveedor'
      'estados estados'
      'fechaInicio fechaFin'
      '. boton';
  }
  @include screen-520 {
    grid-template-areas:
      'proveedor'
      'estados'
      'fechaInicio'
      'fechaFin'
      'boton';
  }
}
